body {
    background-color: #795548
}
h1 {
    font-family: 'Modak', cursive;
    font-size: 110px;
}
.title {
    font-family: 'Modak', cursive;
    font-size: 110px;
    color: #D7CCC8;
    margin-top: 50px;
}

.title2 {
    font-family: 'Titillium Web', cursive;
    font-size: 50px;
    color: #795548;
}

.jumbotron {
    background-color: #D7CCC8;
}

.score {
    margin-top: 10px;
    color: #3E2723;
    font-size: 35px;
}

.atmark {
    color: #795548;
    font-size:115%;
    font-weight: bold;
}

.button {
    margin-top: 25px;
    font-size: 120%;
}

.footertext {
    color: #D7CCC8;
}

/* modal */
#contents {
    margin: 0 auto;
    padding: 10px 0 50px 0;
    width: 100%;
}
 
p {
    padding: 10px 0;
}
 
#clear{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}
 
.close_overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -9999px;
    position: absolute;
    background: #000;
    opacity: 0.5;
    z-index: 5;
}
 
.modal_window {
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -400px;
    height: 300px;
    width: 800px;
    text-align: center;
    display: block;
    background: #D7CCC8;
    position: absolute;
    z-index: 10;
    -webkit-transform: scale(0);
    position: relative;
    overflow: hidden;
}

.modal_window:before {
    -webkit-animation: shine .8s ease .3s;
    content:"";
    position: absolute;
    top: 0;
    left: -250px;
    width: 200%;
    height: 200%;
    transform: rotate3d(0,0,1,-45deg) translate3d(0,-120%,0);
}
 
.modal_window h2 {
    padding-top: 18px;
    font-family: 'Modak', cursive;
    width: 800px;
    height: 120px;
    color: #D7CCC8;
    font-size: 80px;
    text-align: center;
    background: #4E342E;
}

.scores {
    font-family: "Lobster Two";
    padding:  25px;
    text-align: center;
    color: #4E342E;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 3px;
}


div#modal div:target .modal_window {
    -webkit-animation-name: modalScale;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform:scale(1);
    opacity: 1;
    display: block;
}
 
div#modal div:target {
    -webkit-animation-name: modalFadeIn;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    opacity: 1;
    display: block;
}

@-webkit-keyframes modalFadeIn {
    0% {opacity: 0;display: block;}
    100% {opacity: 1;}
}

@-webkit-keyframes modalScale {
    0% {opacity: 0;display: block; -webkit-transform:scale(0);}
    100% {opacity: 1; -webkit-transform:scale(1);}
}

@-webkit-keyframes shine {
    0% {transform: rotate3d(0,0,1,-45deg) translate3d(0,-120%,0);background: rgba(255,255,255,0.5);}
    100% {transform: rotate3d(0,0,1,-25deg) translate3d(0,150%,0);background: rgba(255,255,255,0.5);}
}

.sk-cube-grid {
    width: 250px;
    height: 250px;
    margin: 100px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #795548;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }

.spin {
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.flash {
    animation: flash 0.7s linear infinite;
}
@keyframes flash {
    0%   {  }
    25%  { background-color : #FFF }
    50%  {  }
    75%  { background-color : #FFF }
    100% {  }
}